.back-icon {
    height: 25px;
}

.back-icon-container .genre-title {
    text-transform: capitalize;
    color: #5e56e7;
    font-family: Montserrat;
    font-style: regular;
    font-size: 30px;
    margin-left: 20px;
}

.back-icon-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 65%;
    margin: auto;
    margin-top: 50px;
}

.back-icon:hover {
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    padding: 12px;
    border-radius: 50%;
    background-color: #f8f7ff;
}

.book-details {
    width: 100%;
    margin: auto;
    background-color: #f8f7ff;
    margin-top: 20px;
}