* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Montserrat-SemiBold;
    font-family: Montserrat-Light;
    font-family: Montserrat;
    /* src: url("../icons/Montserrat-SemiBold.ttf"); */
    src: url("../icons/Montserrat-Light.ttf");
    src: url("../icons/Montserrat-Medium.ttf");
    src: url("../icons/Montserrat-SemiBold.ttf");
    /* src: url("../icons/Montserrat-SemiBold.ttf");
    src: url("../icons/Montserrat-SemiBold.ttf");
    src: url("../icons/Montserrat-SemiBold.ttf");
    src: url("../icons/Montserrat-SemiBold.ttf");
    src: url("../icons/Montserrat-SemiBold.ttf");
    src: url("../icons/Montserrat-SemiBold.ttf"); */
}

.pattern {
    width: 100%;
    background-size: 100% 100%;
}

.pattern-container {
    width: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
}

.title-container {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0;
    justify-content: center;
    margin-left: 220px;
    margin-top: 80px;
    font-family: Montserrat;
}

.title {
    color: #5e56e7;
    font-size: 48px;
}

.desc {
    display: flex;
    max-width: 800px;
    flex: 0 0;
}

.genre {
    display: flex;
    background-color: #f8f7ff;
    padding-bottom: 100px;
    margin-top: 48px;
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
}

.genre-card {
    display: flex;
    height: 50px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 480;
    flex: 0 0 350px;
    margin-top: 25px;
    cursor: pointer;
    margin-left: 100px;
}

.categories-container img {
    height: 25px;
    margin-right: 12px;
}

.categories-container .left {
    display: flex;
    align-items: center;
}


/* 

.pattern {
    width: 100%;
}

.title-container {
    position: absolute;
    top: 30px;
    margin: auto;
    width: 90%;
    text-align: center;
}


.title {
    position: absolute;
    margin-left: 150px;
    color: #5e56e7;
    font-family: Montserrat;
    font-style: regular;
    font-size: 48px;
}

.desc {
    position: absolute;
    margin-left: 150px;
    top: 80px;
    font-family: Montserrat;
    font-style: regular;
    font-size: 16px;
    width: 800px;
    color: #333333;
    text-align: left;
}

.categories-container {
    background-color: #f8f7ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 100px;
}


.genre-card {
    display: flex;
    height: 50px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 480;
    flex: 0 0 350px;
    margin-left: 150px;
    margin-top: 20px;
    cursor: pointer;
}

.categories-container img {
    height: 25px;
    margin-right: 12px;
}

.categories-container .left {
    display: flex;
    align-items: center;
} */


/* @media screen and (max-width: 520px) {
    .container {
        width: 520px;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .pattern-container {
        margin: 0;
    }
    .pattern-container img {
        width: 400px;
        margin-top: 0;
        margin: 0;
    }
    .title-container {
        margin-left: 20px;
    }
    .title {
        text-align: left;
        position: absolute;
        margin: 0;
    }
    .desc {
        width: 200px;
        margin: 0;
        margin-top: 50px;
    }
    .genre {
        margin-top: 200px;
    }
    .categories-container {
        margin: 0;
    }
    .genre-card {
        display: flex;
        flex: 0 0 300px;
        margin: 12px;
    }
} */